* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    color: #222222;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}

#alpha-label {
    position: fixed;
    top: 10px;
    right: 0;
    font-size: 16px;
    padding: 5px 10px;
    background-color: #028CC3;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

p {
    margin: 0 0 1em 0;
}

#help-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
  
#help-modal-content {
    background-color: white;
    padding: 20px 40px;
    max-width: 1024px;
    max-height: 90%;
    flex: 1 1 auto;
}
#help-modal-content.border {
    padding: 20px 30px;
}
#help-modal-content h1 {
    font-size: 50px;    
}

.workfl {
    padding: 0 0 0 1em;
    margin: 0 0 1em 0;
}

#header {
    flex: 0 1 auto;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 80px;
    line-height: 1.1em;
}
@keyframes blink {
    50% {opacity: 0;}
}
.cursor {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

.border {
    border: 1px solid #A9A9A9;
    border-radius: 6px;
}

#ui {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

#left-panel {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#input {
    flex: 1 1 auto;
    resize: none;
    font-size: 16px;
    line-height: 1.5em;
    border: none;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
#input:focus {
    outline: none;
}

.gutter {
    flex: 0 0 20px;
}

.buttons {
    padding: 6px 10px;
    text-align: right;
}

.buttons a {
    font-size: 22px;
}

.buttons a span {
    color: rgb(122, 122, 122);
}

#right-panel .buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}

#direction-button {
    display: inline-block;
    transition-duration: 0.6s;
}

#right-panel {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#loading-spinner {
    font-size: 80px;
    color: #A9A9A9;
}

/* Nodes */
#right-panel rect {
    fill: transparent !important;
    stroke: #A9A9A9 !important;
    stroke-width: 1px !important;
}
#right-panel foreignObject {
    text-align: center;
}

/* Connections */
#right-panel path {
    stroke: #A9A9A9 !important;
    stroke-width: 1px !important;
}

/* Connection Label */
#right-panel .edgeLabel {
    background-color: white !important;
}
