* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222222;
}


/* Main Elements */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 20px 20px;
}

#coverall {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 99;
}


/* Text */
p {
    margin: 1em 0;
}


/* Modals */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal-content {
    background-color: white;
    padding: 20px 40px;
}
.modal-content.border {
    padding: 20px 30px;
}
.modal-content h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 1.1em;
}


/* Help Modal */
#help-modal-content {
    max-width: 1024px;
    max-height: 90%;
    flex: 1 1 auto;
}

.workfl {
    padding: 0 0 0 1em;
    margin: 0 0 1em 0;
}


/* Share Modal */
#share-modal-content {
    width: 450px;
    height: auto;
}

#share-url-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0;
    position: relative;
}

#share-url-copy-button {
    margin: 0 0 0 10px;
}

#share-url-copied {
    position: absolute;
    top: -18px;
    right: 28px;
}
#share-url-copied, #share-url-copied span {
    font-size: 12px;
    color: #119511;
}

#share-url {
    width: 100%;
    padding: 4px;
}
#share-url:focus {
    outline: none;
}

#share-url-length-warning {
    color: red;
}


/* Header */
#header {
    flex: 0 1 auto;
}

#header h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 80px;
    line-height: 1.1em;
}
@keyframes blink {
    50% {opacity: 0;}
}
#header .cursor {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: step-start;
}

#header h1.fullscreen {
    font-size: 50px;
}


/* Standard Border */
.border {
    border: 1px solid #A9A9A9;
    border-radius: 6px;
}


/* Outer UI Elements */
#ui {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

#left-panel {
    flex: 0 0 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#right-panel {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#right-panel.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#loading-spinner {
    font-size: 80px;
    color: #A9A9A9;
}

.gutter {
    flex: 0 0 20px;
}


/* Input Box */
#input {
    flex: 1 1 auto;
    resize: none;
    font-size: 16px;
    line-height: 1.5em;
    border: none;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
#input:focus {
    outline: none;
}

/* Buttons */
.buttons {
    padding: 6px 10px;
    text-align: right;
    font-size: 22px;
}

.icon-button {
    color: rgb(122, 122, 122);
}
.icon-button:hover {
    color: rgb(54, 54, 54);
}

#right-panel .buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}

#direction-button {
    display: inline-block;
    transition-duration: 0.6s;
}


/* Nodes */
#right-panel rect {
    fill: transparent !important;
    stroke: #A9A9A9 !important;
    stroke-width: 1px !important;
}
#right-panel foreignObject {
    text-align: center;
}


/* Connections */
#right-panel path {
    stroke: #A9A9A9 !important;
    stroke-width: 1px !important;
}


/* Connection Label */
#right-panel .edgeLabel {
    background-color: white !important;
}
