<title>workfl.ws</title>

<meta name="description" content="A web editor for workfl (a lightweight markup language for simple workflow diagrams).">
<meta name="author" content="Adam Dullage">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#028cc3">
<link rel="shortcut icon" href="/static/favicon.ico">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-config" content="/static/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Main CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}" />

<!-- https://fonts.google.com/ -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans:100&display=swap" />

<!-- https://materialdesignicons.com/ -->
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/3.2.89/css/materialdesignicons.min.css" />

<!-- https://github.com/Grsmto/simplebar -->
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- https://mermaidjs.github.io/ -->
<script src="https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js"></script>
<script src="{{ url_for('static', filename='javascript.js') }}"></script>

<!-- https://github.com/ariutta/svg-pan-zoom -->
<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.6.0/dist/svg-pan-zoom.min.js"></script>