<h1>workfl.ws</h1>

<p>workfl.ws converts text (workfl / <strong>Workf</strong>low Markup <strong>L</strong>anguage) into a 
  workflow diagram. workfl was designed to be quick to write and easy to read.</p>

<p>Each line represents a node in the workflow. Nodes are then connected to each other as long as there are no 
  blank lines between:</p>

<pre class="workfl">Node 1
Node 2
</pre>

<p>You can add a label to the connection between 2 nodes using a line starting with spaces or tabs:</p>

<pre class="workfl">Node 1
  Connection Label
Node 2
</pre>

<p>You can declare as many workflows as needed just as long as they are separated by one or more blank lines:</p>

<pre class="workfl">Node 1
Node 2

Node 3
Node 4
</pre>

<p>And you can connect workflows together by re-using node names (non case-sensitive):</p>

<pre class="workfl">Node 1
Node 2

Node 1
Node 3
</pre>

<br>
<h2>Advanced</h2>
<p>If you want 2 different nodes with the same label you need to give one of them a specific id. You can 
  do this by adding 2 pipes at the end of the line followed by the id.</p>

<pre class="workfl">Node 1
Node 2

Node 1 || n1
Node 2 || n2
</pre>

<p>Why 2 pipes? workfl allows for an optional description which isn't currently supported by this site. This 
  description goes between the pipes e.g. "Label | Description | Id"
</p>

<p>If you have declared an id for a node you will need to use that id if referencing it in other workflows:</p>

<pre class="workfl">Node 1 || n1
Node 2

n1
Node 3
</pre>

<p>You can add comments using the hash symbol, these will not be visible in the workflow:</p>

<pre class="workfl">Node 1
# Comments that span an entire line do not break a flow.
Node 2
Node 3 # You can also add inline comments.
Node 4
</pre>

<p>If you need to use a hash symbol in a label you can escape it using a backslash:</p>

<pre class="workfl">\#Node 1
Node \#2
</pre>

<p>Pipes can also be escaped in the same way:</p>

<pre class="workfl">Node 1 \| 1.0.2
Node 2
</pre>