<!DOCTYPE html>

<html>

<head>

  <!-- Standard Headers -->
  {% include "headers.html" %}

  <!-- Custom Headers -->
  {% include "custom-headers.html" ignore missing %}

</head>

<body>

  <!-- Coverall -->
  <div id="coverall"></div>

  <!-- Help Modal -->
  <div id="help-modal" class="modal" style="display: none">
    <div id="help-modal-content" class="modal-content border" data-simplebar>
      {% include "help.html" %}
    </div>
  </div>

  <!-- Share Modal -->
  <div id="share-modal" class="modal" style="display: none">
    <div id="share-modal-content" class="modal-content border">

      <h1>Share Workflow</h1>

      <!-- URL & Copy Button -->
      <div id="share-url-container">
        <div id="share-url-copied" style="display: none">Copied <span class="mdi mdi-check"></span></div>
        <input id="share-url" type="text" readonly></input>
        <span id="share-url-copy-button" class="icon-button mdi mdi-content-copy" title="Copy"></span>
      </div>

      <!-- Long URL Warning -->
      <p id="share-url-length-warning">Warning: Due to the large size of your workflow you may encounter
        problems sharing / using this URL on some platforms.
      </p>

      <!-- Share Info -->
      <p>The URL generated above contains your shared workflow. It is not stored on the server and
        therefore cannot be recovered if the link is lost.</p>
    </div>
  </div>

  <!-- Main Header -->
  <div id="header">
    <h1>workfl.ws<span class="cursor">_</span></h1>
  </div>

  <div id="ui">

    <!-- Left Panel -->
    <div id="left-panel" class="border">

      <!-- Main Input Box -->
      <textarea id="input">{{ workfl }}</textarea>

      <!-- Left Panel Buttons -->
      <div id="left-panel-buttons" class="buttons">
        <span id="help-button" class="icon-button mdi mdi-help-circle-outline" title="Help"></span>
        <a href="https://github.com/Dullage/workfl.ws" target="_blank" title="GitHub"><span
            class="icon-button mdi mdi-github-circle"></span></a>
      </div>
    </div>

    <div class="gutter"></div>

    <!-- Right Panel -->
    <div id="right-panel" class="border">
  
      <!-- Loading Spinner -->
      <span id="loading-spinner" class="mdi mdi-loading mdi-spin" style="display: none"></span>

      <!-- Right Panel Buttons -->
      <div id="right-panel-buttons" class="buttons">
        <span id="share-button" class="icon-button mdi mdi-share-variant" title="Share"></span>
        <span id="direction-button" class="icon-button mdi mdi-arrow-down-bold-circle-outline"
          title="Toggle Workflow Direction"></span>
        <span id="fullscreen-button" class="icon-button mdi mdi-fullscreen" title="Fullscreen"></span>
        <span id="edit-button" class="icon-button mdi mdi-pencil" title="Edit" style="display: none;"></span>
      </div>

      <!-- Hidden Mermaid Markup -->
      <div id="mermaid" style="display: none">{{ mermaid }}</div>
    </div>
  </div>
</body>

</html>
